/* src/styles/themes.css */
:root[data-theme="dark"] {
  --color-bg: #201c1c;
  --color-surface: #2c2626;
  --color-text: #f2ebe9;
  --color-text-muted: #cfc1bd;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --color-bg: #201c1c;
    --color-surface: #2c2626;
    --color-text: #f2ebe9;
    --color-text-muted: #cfc1bd;
  }
}
